/* Configurações gerais */
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --laranja: #CF6F00;
    --branco: whitesmoke;
    --preto: #1A1818;
    --laranja-escuro: #BF6600;
    --cinza-claro: #D9D9D9;
}

/* Classes de fontes */
.main-title {
    font-family: "Italiana", sans-serif;
    font-size: 3em;
    color: var(--branco);
}

.font-button {
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
}

.font-general {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
}

/* Estilos do corpo da página */
body {
     background-color: var(--preto);
    color: var(--preto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* --- Configurações do cabeçalho do site --- */
header {
    padding: 20px 50px;
    background-color: var(--laranja-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--laranja-escuro);
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

.logo img {
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.2em;
    padding: 5px;
    font-family: "Inknut Antiqua", serif;
}

nav ul li a:hover {
    color: var(--cinza-claro);
    text-decoration: none;
}

main {
    background-color: var(--laranja);
    padding: 60px 20px;
     flex-grow: 1;
    background-color: var(--laranja);
    padding: 60px 20px;
}

.product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.product-card {
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 2.5em;
    color: var(--preto);
    margin-bottom: 15px;
}

.product-card .price {
    display: inline-block; 
    background-color: var(--cinza-claro);
    color: var(--preto);
    padding: 8px 20px;
    border-radius: 15px;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
}

/* --- Estilos do Footer --- */
footer {
    background-color: var(--preto);
    padding: 30px;
    text-align: center;
    color: var(--branco);
    font-size: 0.9em;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    
    .product-container {
        padding: 20px;
    }
}